.DS_Store
.classpath
.externalToolBuilders/
.idea/
.pc/
.project
.settings
MediaInfo.dll
MediaInfo64.dll
contrib/ffmpeg/build/
database/
debug.log
libmediainfo.dylib
maven-eclipse.xml
pms.iml
target/                                       
core/src/main/external-resources/plugins/*.jar
core/src/main/external-resources/private-jre/*.zip
core/src/main/external-resources/private-jre/*.tar.gz
core/src/main/external-resources/transcode-tools/transcode-tools-*
core/src/main/external-resources/transcode-tools/linux/*
core/src/main/external-resources/transcode-tools/osx/*
core/src/main/external-resources/transcode-tools/win32/*
